# Configuration file

general {
    # Declare structures to be added in atlas, format: structurename,alwaysvisible,markertype,label [default: []]
    S:structureDeclaration <
        ElectronicsSHop,true,google,Electronics Shop
        GroceryShop,true,google,Grocery Store
        PizzaShop,true,google,Pizza Shack
        SteelShop,true,google,Steel Mill
     >
}


